# Supabase
VITE_SUPABASE_URL=https://inifgztvbcjocydeonow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluaWZnenR2YmNqb2N5ZGVvbm93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3Nzc5MTksImV4cCI6MjEwMTM1MzkxOX0.j1F3MndsviTxZJj2814MsZlqKHHy00EPtOOeNLAIeUM

# Site
VITE_SITE_URL=http://localhost:3000
